body {
  margin: 0px;
}

#wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
}

#container {
  position: absolute;
  width: 600px;
  height: 600px;
  margin-left: 50%;
  left: -300px;
  top: 150px;
}

.untouched {
  border: 2px solid black;
  /*width: calc((100% / 16) - 2px); */
  height: 50px;
  float: left;
}

.blacked {
  border: black;
  background-color: red;
}

#buttons {
  position: relative;
  width: 866px;
  left: 50%;
  margin-left: -433px;
  margin-top: 90px;
}

.buts {
  color: #757575;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  font-family: arial;
  font-size: 20px;
  width: 150px;
  margin: 0px 10px;
  border-radius: 3px;
}

.buts:hover {
  color: rgba(128, 128, 128, 0.78);
  background-color: rgba(242, 242, 242, 0.79);
  border: 1px solid rgba(158, 158, 158, 0.74);
}